<header class="px-dyn-small">
  <div class="flex items-center justify-between border-b border-outline py-tiny text-sm">
    <div class="flex items-center gap-small">
      <a href="/">
        <.icon name="hero-home-modern" class="size-large"></.icon>
      </a>
    </div>
  </div>
</header>
<main class="container py-dyn-large">
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</main>
