<div>
  <h1 class="text-h1">Your projects</h1>
  <hr class="my-4" />
  <div class="projects">
    <%= if (true) do %>
      <ul>
        <li>Project</li>
      </ul>
    <% else %>
      <p>You are a part of 0 projects</p>
    <% end %>
  </div>
  <hr />
  <div class="buttons">
    <a class="button" href="/projects/new/">Add new</a>
  </div>
</div>
